ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/GameService/item65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO.State" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO.State" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" />
  <xs:complexType name="CentralBoardDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="SandArmy" nillable="true" type="q1:ArrayOfCardDTO" />
      <xs:element minOccurs="0" name="SandArmyCount" type="xs:int" />
      <xs:element minOccurs="0" name="SandArmyPower" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="WaterArmy" nillable="true" type="q2:ArrayOfCardDTO" />
      <xs:element minOccurs="0" name="WaterArmyCount" type="xs:int" />
      <xs:element minOccurs="0" name="WaterArmyPower" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="WindArmy" nillable="true" type="q3:ArrayOfCardDTO" />
      <xs:element minOccurs="0" name="WindArmyCount" type="xs:int" />
      <xs:element minOccurs="0" name="WindArmyPower" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentralBoardDTO" nillable="true" type="tns:CentralBoardDTO" />
</xs:schema>