ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/GameService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerExpelledDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpelledUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpelledUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerExpelledDTO" nillable="true" type="tns:PlayerExpelledDTO" />
</xs:schema>