ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/GameService/item67.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PlayerExpelledDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpelledUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpelledUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecycledCardIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerExpelledDTO" nillable="true" type="tns:PlayerExpelledDTO" />
</xs:schema>