ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/GameService/item62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" />
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO.Enums" />
  <xs:import schemaLocation="http://localhost:8087/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" />
  <xs:element name="ConnectToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="DrawCardResult" type="q1:DrawCardResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayDinoHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayDinoHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="PlayDinoHeadResult" type="q2:PlayCardResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachBodyPartToDino">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="attachmentData" nillable="true" type="q3:AttachBodyPartDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachBodyPartToDinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="AttachBodyPartToDinoResult" type="q4:PlayCardResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeCardFromDiscardPile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeCardFromDiscardPileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="TakeCardFromDiscardPileResult" type="q5:DrawCardResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvokeArchArmy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO.Enums" minOccurs="0" name="armyType" type="q6:ArmyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvokeArchArmyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="ProvokeArchArmyResult" type="q7:ProvokeResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="EndTurnResult" type="q8:EndTurnResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameInitialized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q9:GameInitializedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q10:GameStartedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTurnChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q11:TurnChangedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCardDrawn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q12:CardDrawnDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDinoHeadPlayed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q13:DinoPlayedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnBodyPartAttached">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q14:BodyPartAttachedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnArchAddedToBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q15:ArchAddedToBoardDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnArchArmyProvoked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q16:ArchArmyProvokedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnBattleResolved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q17:BattleResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q18:GameEndedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerExpelled">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Contracts.DTO" minOccurs="0" name="dto" nillable="true" type="q19:PlayerExpelledDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCardTakenFromDiscard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Contracts.DTO.Game_DTO" minOccurs="0" name="data" nillable="true" type="q20:CardTakenFromDiscardDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>