ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/RegisterService/item54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.147.231.153:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" />
  <xs:import schemaLocation="http://10.147.231.153:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DTO" minOccurs="0" name="userAccountDTO" nillable="true" type="q1:UserAccountDTO" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>