ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/RegisterService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccountDTO" nillable="true" type="tns:UserAccountDTO" />
  <xs:complexType name="ValiUserNickResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCont" type="tns:ReturnContent" />
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValiUserNickResultDTO" nillable="true" type="tns:ValiUserNickResultDTO" />
  <xs:simpleType name="ReturnContent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="UsernameExists" />
      <xs:enumeration value="NicknameExists" />
      <xs:enumeration value="BothExists" />
      <xs:enumeration value="DatabaseError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReturnContent" nillable="true" type="tns:ReturnContent" />
</xs:schema>