ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/FriendService/FriendManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.147.231.153:8085/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.147.231.153:8085/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.147.231.153:8085/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" />
      <xsd:import schemaLocation="http://10.147.231.153:8085/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
      <xsd:import schemaLocation="http://10.147.231.153:8085/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendManager_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_AreFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:AreFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_AreFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreFriendsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendManager">
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/RemoveFriend" message="tns:IFriendManager_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/RemoveFriendResponse" message="tns:IFriendManager_RemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/GetFriends" message="tns:IFriendManager_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/GetFriendsResponse" message="tns:IFriendManager_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/AreFriends" message="tns:IFriendManager_AreFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/AreFriendsResponse" message="tns:IFriendManager_AreFriends_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendManager" type="tns:IFriendManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/AreFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendManager">
    <wsdl:port name="NetTcpBinding_IFriendManager" binding="tns:NetTcpBinding_IFriendManager">
      <soap12:address location="net.tcp://10.147.231.153:8096/FriendManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.147.231.153:8096/FriendManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MSI\acrca</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>