ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/StatisticsService/StatisticsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StatisticsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStatisticsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Statistics" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatisticsManager_SaveMatchStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchStatistics" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_SaveMatchStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMatchStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetPlayerStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatistics" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetPlayerStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetLeaderboard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderboard" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetLeaderboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderboardResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetPlayerMatchHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerMatchHistory" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetPlayerMatchHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerMatchHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetMatchStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatistics" />
  </wsdl:message>
  <wsdl:message name="IStatisticsManager_GetMatchStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatisticsManager">
    <wsdl:operation name="SaveMatchStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsManager/SaveMatchStatistics" message="tns:IStatisticsManager_SaveMatchStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsManager/SaveMatchStatisticsResponse" message="tns:IStatisticsManager_SaveMatchStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsManager/GetPlayerStatistics" message="tns:IStatisticsManager_GetPlayerStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsManager/GetPlayerStatisticsResponse" message="tns:IStatisticsManager_GetPlayerStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaderboard">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsManager/GetLeaderboard" message="tns:IStatisticsManager_GetLeaderboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsManager/GetLeaderboardResponse" message="tns:IStatisticsManager_GetLeaderboard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerMatchHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsManager/GetPlayerMatchHistory" message="tns:IStatisticsManager_GetPlayerMatchHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsManager/GetPlayerMatchHistoryResponse" message="tns:IStatisticsManager_GetPlayerMatchHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsManager/GetMatchStatistics" message="tns:IStatisticsManager_GetMatchStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsManager/GetMatchStatisticsResponse" message="tns:IStatisticsManager_GetMatchStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStatisticsManager" type="tns:IStatisticsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IStatisticsManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveMatchStatistics">
      <soap12:operation soapAction="http://tempuri.org/IStatisticsManager/SaveMatchStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatistics">
      <soap12:operation soapAction="http://tempuri.org/IStatisticsManager/GetPlayerStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderboard">
      <soap12:operation soapAction="http://tempuri.org/IStatisticsManager/GetLeaderboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerMatchHistory">
      <soap12:operation soapAction="http://tempuri.org/IStatisticsManager/GetPlayerMatchHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatistics">
      <soap12:operation soapAction="http://tempuri.org/IStatisticsManager/GetMatchStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsManager">
    <wsdl:port name="NetTcpBinding_IStatisticsManager" binding="tns:NetTcpBinding_IStatisticsManager">
      <soap12:address location="net.tcp://localhost:8099/StatisticsManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8099/StatisticsManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DELLDEANDY\andre_t39m0ea</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>