ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/ProfileManagerService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="facebook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="instagram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiktok" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalLosses" type="xs:int" />
      <xs:element minOccurs="0" name="totalPoints" type="xs:int" />
      <xs:element minOccurs="0" name="totalWins" type="xs:int" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
</xs:schema>