ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/ProfileManagerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateResponse" nillable="true" type="tns:UpdateResponse" />
</xs:schema>