ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/ProfileManagerService/ProfileManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileManager_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsername" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNickname" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateFacebook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFacebook" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateFacebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFacebookResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateX_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateX" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateX_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateXResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateInstagram_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstagram" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateInstagram_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstagramResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateTikTok_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTikTok" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateTikTok_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTikTokResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ChangeProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ChangeProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileManager">
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/GetProfile" message="tns:IProfileManager_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/GetProfileResponse" message="tns:IProfileManager_GetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateUsername" message="tns:IProfileManager_UpdateUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateUsernameResponse" message="tns:IProfileManager_UpdateUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateNickname" message="tns:IProfileManager_UpdateNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateNicknameResponse" message="tns:IProfileManager_UpdateNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFacebook">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateFacebook" message="tns:IProfileManager_UpdateFacebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateFacebookResponse" message="tns:IProfileManager_UpdateFacebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateX">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateX" message="tns:IProfileManager_UpdateX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateXResponse" message="tns:IProfileManager_UpdateX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInstagram">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateInstagram" message="tns:IProfileManager_UpdateInstagram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateInstagramResponse" message="tns:IProfileManager_UpdateInstagram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTikTok">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateTikTok" message="tns:IProfileManager_UpdateTikTok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/UpdateTikTokResponse" message="tns:IProfileManager_UpdateTikTok_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/ChangeProfilePicture" message="tns:IProfileManager_ChangeProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/ChangeProfilePictureResponse" message="tns:IProfileManager_ChangeProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/ChangePassword" message="tns:IProfileManager_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/ChangePasswordResponse" message="tns:IProfileManager_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileManager" type="tns:IProfileManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProfile">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/GetProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsername">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNickname">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFacebook">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateFacebook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateX">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInstagram">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateInstagram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTikTok">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateTikTok" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/ChangeProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileManager">
    <wsdl:port name="NetTcpBinding_IProfileManager" binding="tns:NetTcpBinding_IProfileManager">
      <soap12:address location="net.tcp://localhost:8092/ProfileManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8092/ProfileManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MSI\acrca</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>