ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/LobbyService/LobbyManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.147.231.153:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.147.231.153:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.147.231.153:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" />
      <xsd:import schemaLocation="http://10.147.231.153:8083/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyManager_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CancelLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CancelLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ExpelPlayerLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ExpelPlayerLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_InviteByEmailToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteByEmailToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_InviteByEmailToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteByEmailToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CreatedLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreatedLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_JoinedLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinedLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_LobbyCancelled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LobbyCancelled" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_LeftLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LeftLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ExpelledFromLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ExpelledFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_GameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStarted" />
  </wsdl:message>
  <wsdl:portType name="ILobbyManager">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/CreateLobby" message="tns:ILobbyManager_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/CreateLobbyResponse" message="tns:ILobbyManager_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/JoinLobby" message="tns:ILobbyManager_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/JoinLobbyResponse" message="tns:ILobbyManager_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/CancelLobby" message="tns:ILobbyManager_CancelLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/CancelLobbyResponse" message="tns:ILobbyManager_CancelLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/LeaveLobby" message="tns:ILobbyManager_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/LeaveLobbyResponse" message="tns:ILobbyManager_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ExpelPlayerLobby" message="tns:ILobbyManager_ExpelPlayerLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ExpelPlayerLobbyResponse" message="tns:ILobbyManager_ExpelPlayerLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/StartGame" message="tns:ILobbyManager_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/StartGameResponse" message="tns:ILobbyManager_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteByEmailToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/InviteByEmailToLobby" message="tns:ILobbyManager_InviteByEmailToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/InviteByEmailToLobbyResponse" message="tns:ILobbyManager_InviteByEmailToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatedLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/CreatedLobby" message="tns:ILobbyManager_CreatedLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinedLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/JoinedLobby" message="tns:ILobbyManager_JoinedLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="LobbyCancelled">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/LobbyCancelled" message="tns:ILobbyManager_LobbyCancelled_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeftLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/LeftLobby" message="tns:ILobbyManager_LeftLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpelledFromLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ExpelledFromLobby" message="tns:ILobbyManager_ExpelledFromLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/GameStarted" message="tns:ILobbyManager_GameStarted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyManager" type="tns:ILobbyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/CancelLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ExpelPlayerLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteByEmailToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/InviteByEmailToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatedLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/CreatedLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinedLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/JoinedLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LobbyCancelled">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/LobbyCancelled" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeftLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/LeftLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpelledFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ExpelledFromLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStarted">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/GameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyManager">
    <wsdl:port name="NetTcpBinding_ILobbyManager" binding="tns:NetTcpBinding_ILobbyManager">
      <soap12:address location="net.tcp://10.147.231.153:8094/MatchLobbyManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.147.231.153:8094/MatchLobbyManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>