ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/LobbyService/MatchLobbyManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchLobbyManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchLobbyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchLobbyManager_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchLobbyManager_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchLobbyManager_CreatedMatch_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreatedMatch" />
  </wsdl:message>
  <wsdl:portType name="IMatchLobbyManager">
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchLobbyManager/CreateMatch" message="tns:IMatchLobbyManager_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchLobbyManager/CreateMatchResponse" message="tns:IMatchLobbyManager_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatedMatch">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchLobbyManager/CreatedMatch" message="tns:IMatchLobbyManager_CreatedMatch_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMatchLobbyManager" type="tns:IMatchLobbyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchLobbyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchLobbyManager/CreateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatedMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchLobbyManager/CreatedMatch" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchLobbyManager">
    <wsdl:port name="NetTcpBinding_IMatchLobbyManager" binding="tns:NetTcpBinding_IMatchLobbyManager">
      <soap12:address location="net.tcp://localhost:8094/MatchLobbyManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8094/MatchLobbyManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>