ArchsVsDinosClient/ArchsVsDinosClient/Connected Services/AuthenticationService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" />
  <xs:complexType name="RecoveryCodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemainingSeconds" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DTO.Result_Codes" minOccurs="0" name="Result" type="q1:PasswordRecoveryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecoveryCodeResponse" nillable="true" type="tns:RecoveryCodeResponse" />
</xs:schema>